.grid .tick {
    stroke: lightgrey;
    opacity: 0.7;
}
.grid path {
      stroke-width: 0;
}

line.arrow {
    stroke: #666;
    stroke-width: 2px;
}

.hidden {
  display: none;
}

line.arrow.selected {
  stroke-width: 6px;
}

marker#arrow {
    fill: #666;
}

.link-label {
    font-family: sans-serif;
    font-size: 11px;
}

.titled-box {
    border: 1px dotted black;
    padding-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.titled-box #title {
    padding-left: 3px;
    padding-right: 3px;
    position: relative;
    top : -11px;
    display: inline;
    background: #F5F5F5;
}

.titled-box #content {
}
